.ve
.idea
__pycache__
*.pyc
.env
.env.dev
.env.test
.env.local
.vscode
.coverage
google_credentials.json
./test.py


# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc

# Compiled C++ files
*.out

# Application specific files
venv
node_modules
.sass-cache

MY_code_practise.py
